@import "tailwindcss";

@theme {
  --color-white: #FFFFFF;
  --color-soft-gray: #F7F7F8;
  --color-jet-black: #1C1C1C;
  --color-slate-gray: #6F6F6F;
  --color-emerald-lime: #00C896;

  --font-heading: var(--font-heading), sans-serif;
  --font-body: var(--font-body), sans-serif;
}

body {
  background-color: var(--color-white);
  color: var(--color-jet-black);
}
